<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC Streaming Example</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="videos">
      <span>
        <video id="remoteVideo" autoplay playsinline></video>
      </span>
    </div>
    
    <!-- <h3>Stream ID</h3>
    <input id="streamID" />
    <button id="addStreamButton" >Add Stream</button> -->

    <h3>Start Stream</h3>
    <p>Camera Topic, video stream ID, video track ID</p>
    <p>Example Camera Topic Input: /ip_front/image_raw_repub, /rgb_front/usb_cam/image_raw_repub, /rgbd_SL/color/image_raw_repub, /rgbd_SR/color/image_raw_repub</p>

    <label for="cameraTopic">Camera Topic: </label>
    <input id="cameraTopic" value="/rgb_front/usb_cam/image_raw_repub">

    <label for="videoStreamID">Video Stream ID: </label>
    <input id="videoStreamID" value="client_ui_stream">

    <label for="videoTrackID">Video Track ID: </label>
    <input id="videoTrackID" value="front_camera">

    <button id="getVideoStream" >Get Video Stream</button>

    <!-- <h3>Remove stream</h3>
    <button id="removeStreamButton" >Remove stream</button> -->

    <!-- Add in constants passed down from nodejs -->
    <script>
      <% if(addr_info) { %>
        const addr_info_json = <%- JSON.stringify(addr_info) %>;
        const ws_server_port = addr_info_json.ws_server_port;
        const http_server_port = addr_info_json.http_server_port;
        const aws_ip_addr = addr_info_json.aws_ip_addr;
      <% } %>
    </script>

    <!-- Above variables are being passes into main.js  -->
    <script type="module" src="/js/main.js"></script>

  </body>
</html>
