<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Globotix Streaming</title>

    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="videos">
      <span>
        <h3>Remote Stream</h3>
        <video id="remoteVideo" autoplay playsinline></video>
      </span>
    </div>


    <h2>Add stream</h2>
    <input id="streamID" />
    <button id="addStreamButton">Add Stream</button>

    <h2>Add Video Stream</h2>
    <p>Example Camera Topic Input: "/ip_front/image_raw_repub", "/mjpeg_cam/image_repub"</p>
    <input id="cameraTopic"/>
    <button id="askOfferButton" disabled>Add Video Stream</button>

    <h2>Remove stream</h2>
    <button id="removeStreamButton" disabled>Remove stream</button>

    <!-- Add in constants passed down from nodejs -->
    <script>
      const ws_port = <%= ws_server_port %>;
      const http_port = <%= http_port %>;
    </script>

    <script type="module" src="/js/main.js"></script>

  </body>
</html>
