<?xml version="1.0"?>
<launch>
  <arg name="webrtc_port" default="8013"/>
  <arg name="device_name" default="/dev/video0"/>
  <arg name="topic_in" default="/mjpeg_cam/image" />
  <arg name="topic_out" default="/mjpeg_cam/image_repub" />

  <!-- ICE: STUN/TURN Server -->
  <node name="ice_server_provider" pkg="webrtc_ros" type="ice_server_service.py">
    <rosparam param="stun_servers">
          ['stun:stun1.l.google.com:19302', 'stun:stun2.l.google.com:19302']
    </rosparam>
    <rosparam param="turn_server_uris">
        []
    </rosparam>
    <param name="turn_server_creds_uri" value=""/>
    <param name="turn_server_creds_username" value=""/>
    <param name="turn_server_creds_password" value=""/>
  </node>

  <!-- WebRTC ROS -->
  <node name="webrtc_server" pkg="webrtc_ros" type="webrtc_ros_server_node"  output="screen">
    <param name="port" value="$(arg webrtc_port)"/>
    <param name="image_transport" value="raw"/>
  </node>

  <!-- Camera driver -->
  <node name="mjpeg_cam" pkg="mjpeg_cam" type="mjpeg_cam" output="screen" >
    <param name="device_name" value="$(arg device_name)" />
    <param name="width" value="640" />
    <param name="height" value="480" />
    <param name="framerate" value="10" />
    <param name="exposure" value="40" />
    <param name="brightness" value="80" />
    <param name="autoexposure" value="true" />
  </node>

  <!-- Republish image for consumption by WebRTC Server -->
  <node pkg="image_transport" type="republish" name="image_transport_repub" 
    args="theora in:=$(arg topic_in) out:=$(arg topic_out) _image_transport:=compressed"/>

  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find web_video_server )/rviz/video_streaming.rviz"/>

</launch>
